<div class="main-wrapper">
    <div class="product-container">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
    </div>
    <mat-paginator 
    class="paginator"
    [length]="100"
              [pageSize]="10"
              aria-label="Select page"
hidePageSize="true"

              >
</mat-paginator>
</div>