/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

:root {
    --primary: #673ab7;
    --accent: #ffd740;
}

.remove-input-bottom-margin > .mat-mdc-form-field-subscript-wrapper {
    display: none;
}
