<div class="main-wrapper">
    <h1 class="title">QuickMart</h1>

    <mat-form-field class="remove-input-bottom-margin search-bar" appearance="outline">
        <input matInput placeholder="Search">
        <button type="button" mat-icon-button matIconSuffix>
            <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <div class="btn-wrapper">
        <button type="button" mat-icon-button>
            <mat-icon>tune</mat-icon>
        </button>

        <button type="button" mat-raised-button color="primary">Prijavi se</button>
      </div>
</div>