.main-wrapper {
    border-bottom: 1px solid var(--primary);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 40px 0;
}

.title {
    margin: 0;
    color: var(--primary);
}

.btn-wrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.search-bar {
    width: 50%;
}
